<!--
<div class="col-md-8">
  <div class="col-md-3">
      <div class="waiceng">
        <div class="waiceng-content">
          <div class="wcitem">
            <%= image_tag 'tupian4.jpg', class: 'img-responsive' %>
            <p>美丽的叶子</p>
          </div>
          <div class="wcitem">
            <%= image_tag 'tupian5.jpg', class: 'img-responsive' %>
            <p>芳香的薰衣草</p>
          </div>
          <div class="wcitem">
            <%= image_tag 'tupian6.jpg', class: 'img-responsive' %>
            <p>魅力的颜色</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="waiceng">
        <div class="waiceng-content">
          <div class="wcitem">
            <%= image_tag 'tupian4.jpg', class: 'img-responsive' %>
            <p>美丽的叶子</p>
          </div>
          <div class="wcitem">
            <%= image_tag 'tupian5.jpg', class: 'img-responsive' %>
            <p>芳香的薰衣草</p>
          </div>
          <div class="wcitem">
            <%= image_tag 'tupian6.jpg', class: 'img-responsive' %>
            <p>魅力的颜色</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="waiceng">
        <div class="waiceng-content">
          <div class="wcitem">
            <%= image_tag 'tupian4.jpg', class: 'img-responsive' %>
            <p>美丽的叶子</p>
          </div>
          <div class="wcitem">
            <%= image_tag 'tupian5.jpg', class: 'img-responsive' %>
            <p>芳香的薰衣草</p>
          </div>
          <div class="wcitem">
            <%= image_tag 'tupian6.jpg', class: 'img-responsive' %>
            <p>魅力的颜色</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="waiceng">
        <div class="waiceng-content">
          <div class="wcitem">
            <%= image_tag 'tupian4.jpg', class: 'img-responsive' %>
            <p>美丽的叶子</p>
          </div>
          <div class="wcitem">
            <%= image_tag 'tupian5.jpg', class: 'img-responsive' %>
            <p>芳香的薰衣草</p>
          </div>
          <div class="wcitem">
            <%= image_tag 'tupian6.jpg', class: 'img-responsive' %>
            <p>魅力的颜色</p>
          </div>
        </div>
      </div>
    </div>
</div> -->

<!-- <div class="box">
  <div class="box2">
    <div class="box3">
      <%= image_tag 'tupian7', class: 'img-responsive' %>
      <p>雄鹰</p>
    </div>
  </div>
</div>
<div class="box">
  <div class="box2">
    <div class="box3">
      <%= image_tag 'tupian8', class: 'img-responsive' %>
      <p>野马</p>
    </div>
  </div>
</div>
<div class="box">
  <div class="box2">
    <div class="box3">
      <%= image_tag 'tupian9', class: 'img-responsive' %>
      <p>梅花鹿</p>
    </div>
  </div>
</div> -->
<!--
<div class="shiyan">
  <p>我的第一个试验品</p>
</div> -->
