
 <div class="col-md-6">
    <div class="wrap">
      <div class="wrap-content">
        <div class="item">
          <%= image_tag 'tupian1.jpg', class: 'img-responsive' %>
          <p>美丽的星空</p>
        </div>
        <div class="item">
          <%= image_tag 'tupian2.jpg', class: 'img-responsive' %>
          <p>美丽的星空</p>
        </div>
        <div class="item">
          <%= image_tag 'tupian3.jpg', class: 'img-responsive' %>
          <p>美丽的星空</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="waiceng">
      <div class="waiceng-content">
        <div class="wcitem">
          <%= image_tag 'tupian4.jpg', class: 'img-responsive' %>
          <p>美丽的叶子</p>
        </div>
        <div class="wcitem">
          <%= image_tag 'tupian5.jpg', class: 'img-responsive' %>
          <p>芳香的薰衣草</p>
        </div>
        <div class="wcitem">
          <%= image_tag 'tupian6.jpg', class: 'img-responsive' %>
          <p>魅力的颜色</p>
        </div>
      </div>
    </div>
  </div>
